{% extends "base-navbar.html" %}
{% load i18n %}
{% block title %}{% trans 'Index' %}{% endblock %}
{% block header %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>{% trans 'Welcome to the Tale House!' %}</h1>

            <p>{% trans 'Write your interactive stories. Create your world and let people experience it.' %}</p>

            <p><a class="btn btn-primary btn-lg" role="button"
                  href="{% url 'about' %}">{% trans 'Learn more' %} &raquo;</a></p>
        </div>
    </div>
{% endblock %}
{% block body %}
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>{% trans 'Recent Best Rated' %}</h2>

            <h3>{{ best_recent_tale.name }}
                <small>{{ best_recent_tale.overall_rating }}/5</small>
            </h3>
            <p>{{ best_recent_tale_content|striptags|truncatechars:300|safe }}</p>

            <p><a class="btn btn-primary" href="{% url 'tale_read_continue' best_recent_tale.slug %}"
                  role="button">{% trans 'Read Now' %} &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>{% trans 'Freshly Written' %}</h2>

            <h3>{{ freshly_written_tale.name }}
                <small>by {{ freshly_written_tale.user.user.username }}</small>
            </h3>
            <p>{{ freshly_written_tale_content|striptags|truncatechars:300|safe }}</p>

            <p><a class="btn btn-primary" href="{% url 'tale_read_continue' freshly_written_tale.slug %}"
                  role="button">{% trans 'Read Now' %} &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>{% trans 'Nearest Poll Time' %}</h2>
            {% if nearest_time_poll_tale == None %}
                <h3>{% trans 'No polls to resolve in future' %}</h3>
                <p><a class="btn btn-primary" href="{% url 'tale_add' %}"
                      role="button">{% trans 'Write Your Own' %} &raquo;</a></p>
            {% else %}
                <h3>{{ nearest_time_poll_tale.name }} <br/>
                    <small>resolves at {{ nearest_time_poll_part.poll_end_date }}</small>
                </h3>
                <p>{{ nearest_time_poll_part.content|striptags|truncatechars:300|safe }}</p>
                <p><a class="btn btn-primary" href="{% url 'tale_read_continue' nearest_time_poll_tale.slug %}"
                      role="button">{% trans 'Read Now' %} &raquo;</a></p>
            {% endif %}
        </div>
    </div>
{% endblock %}