{% extends "base-navbar.html" %}
{% load i18n %}
{% load staticfiles %}
{% load teller_tags %}
{% block title %}{% trans 'Read' %} {{ tale.name }}{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h2>{{ tale.name }}
                {% if not tale.is_poll_tale %}
                    <small><a href="{% url 'tale_reset' tale.slug %}">{% trans 'Reset Progress' %}</a></small>
                {% endif %}
            </h2>
            <p>
                <small>
                    {% trans 'Page' %}: {{ result.page }} - <a
                        href="{% url 'tale_read' tale.slug -1 %}">{% trans 'Go to last page' %}
                </a>
                </small>
            </p>
            {% if result.status == status_enum.ERROR %}
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans 'Tale cannot progress' %}</h3>
                    </div>
                    <div class="panel-body">
                        {{ result.message }}
                    </div>
                </div>
            {% else %}
                {{ result.part.content|safe }}
                {% if result.status == status_enum.VOTE %}
                    {% for link in result.links %}
                        {% if not profile %}
                            <p class="bs-component tale-action-button">
                                <a href="{% url 'user_add' %}?next={% firstof request.path '/' %}" type="button"
                                   class="btn btn-default btn-block">
                                    {{ link.action }}
                                </a>
                            </p>
                        {% else %}
                            <p class="bs-component tale-action-button">
                                <a href="{% url 'tale_vote' tale.slug link.id result.part.id result.page %}" type="button"
                                   class="btn btn-default btn-block">
                                    {{ link.action }}
                                </a>
                            </p>
                        {% endif %}
                    {% endfor %}
                {% elif result.status == status_enum.READ and tale.is_poll_tale %}
                    {% for link, vote_count in result.links %}
                        <p class="bs-component tale-action-button">
                            <a href="#" type="button" class="btn
                        {% if link.id == result.selected_link.id %}
                        btn-primary
                        {% else %}
                        btn-default
                        {% endif %}
                        disabled
                        btn-block">
                                {{ link.action }} ({{ vote_count.0 }} votes)
                            </a>
                        </p>
                    {% endfor %}
                {% elif result.status == status_enum.READ and not tale.is_poll_tale %}
                    {% for link in result.links %}
                        <p class="bs-component tale-action-button">
                            <a href="#" type="button" class="btn
                        {% if link.id == result.selected_link.id %}
                        btn-primary
                        {% else %}
                        btn-default
                        {% endif %}
                        disabled
                        btn-block">
                                {{ link.action }}
                            </a>
                        </p>
                    {% endfor %}
                {% elif result.status == status_enum.DATE_CONSTRAINT %}
                    {% for link, vote_count in result.links %}
                        <p class="bs-component tale-action-button">
                            <a href="#" type="button" class="btn
                        {% if link.id == result.selected_link.id %}
                        btn-success
                        {% else %}
                        btn-default
                        {% endif %}
                        disabled
                        btn-block">
                                {{ link.action }} ({{ vote_count.0 }} votes)
                            </a>
                        </p>
                    {% endfor %}
                    <h3 class="text-center">
                        {% blocktrans with result.part.poll_end_date as date %}
                            The tale will progress when the poll ends at {{ date }}
                        {% endblocktrans %}
                    </h3>
                {% elif result.status == status_enum.END %}
                    <p class="lead text-center">{% trans 'The End.' %}</p>
                {% endif %}
            {% endif %}
            <div class="bs-component">
                <ul class="pager">
                    {% if result.page %}
                    <li class="previous"><a
                            href="{% url 'tale_read' tale.slug result.page|add:-1 %}">← {% trans 'Previous' %}</a></li>
                    <li class="next"><a href="{% url 'tale_read' tale.slug result.page|add:1 %}">{% trans 'Next' %}
                        →</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="rate-buttons-container">
                {% if profile and result.status != status_enum.ERROR %}
                    {{ profile|print_rate_buttons:tale|safe }}
                {% endif %}
            </div>
            {% if tale.is_published %}
            <div>
                <p>
                    {{ request.build_absolute_uri|print_tale_share_buttons:tale|safe }}
                </p>
            </div>
            {% endif %}
            {% if profile and tale.user.id == profile.id %}
            <h3 class="text-center">
                {% trans 'Tale Author Controls' %}
                <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="{% trans 'These will not be shown to the readers.' %}"></span>
            </h3>
            <p class="text-center">
                {% if result.status != status_enum.ERROR %}
                <a href="{% url 'tale_edit_part' result.part.id %}" class="btn btn-warning">{% trans 'Edit this part' %}</a>
                {% endif %}
                <a href="{% url 'tale_details' tale.slug %}" class="btn btn-primary">{% trans 'Go back to tale details' %}</a>
            </p>
            {% endif %}
            <h3>{% trans 'Comments' %}</h3>
            <div class="comments">
                {% for comment in result.part.comments.all %}
                    <div class="comment well">
                        <fieldset>
                            <div class="col-md-2">
                                <p class="comment-username">{{ comment.user.user.username }}</p>
                            </div>
                            <div class="col-md-10">
                                <p>{{ comment.content|safe }}</p>
                            </div>
                        </fieldset>
                    </div>
                {% endfor %}
                <a href="{% url 'tale_add_comment' result.part.id %}?next={% firstof request.path '/' %}" class="btn btn-primary">{% trans 'Write a comment to this part' %}</a>
            </div>
        </div>
    </div>
{% endblock %}
{% if result.status != status_enum.ERROR %}
    {% block ogmeta %}
        <meta property="og:title" content="{{ tale.name }}" />
        <meta property="og:site_name" content="Interactale"/>
        <meta property="og:url" content="{{ request.build_absolute_uri }}" />
        <meta property="og:description" content="{{ result.part.content|striptags|truncatechars:300|safe }}" />
        <meta property="og:image" content="http://i.imgur.com/1A5lBLs.png" />
        <meta property="fb:app_id" content="{{ fb_app_id }}" />
        <meta property="og:type" content="website" />
    {% endblock %}
{% endif %}
{% block scriptblock %}
    <script type="text/javascript">
        $(document).ready(function () {
            {% include 'Teller/snippets/form_js.html' %}
        });
    </script>
{% endblock %}