{% extends "base-navbar.html" %}
{% load i18n %}
{% block title %}{% trans 'Tale List' %}{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h2>{% trans 'Your Tales' %}</h2>

            <table class="table table-striped">
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Is a Poll Tale?' %}</th>
                    <th>{% trans 'Language' %}</th>
                    <th>{% trans 'Rating' %}</th>
                    <th>{% trans 'Publish' %}</th>
                    <th>{% trans 'Read' %}</th>
                    <th>{% trans 'Details' %}</th>
                    <th>{% trans 'Delete' %}</th>
                </tr>
                {% for tale in tale_list %}
                    <tr>
                        <td>{{ tale.name }}</td>
                        <td>{{ tale.is_poll_tale }}</td>
                        <td>{{ tale.language.name }}</td>
                        <td>{{ tale.overall_rating }}/5</td>
                        <td>
                            {% if not tale.is_published %}
                                <a class="btn btn-success btn-xs"
                                   href="{% url 'tale_publish' tale.id %}">{% trans 'Publish' %}</a>
                            {% else %}
                                <a class="btn btn-success disabled btn-xs"
                                   href="#">{% trans 'Published' %}</a>
                            {% endif %}
                        </td>
                        <td><a class="btn btn-primary btn-xs"
                               href="{% url 'tale_read_continue' tale.slug %}">{% trans 'Read' %}</a></td>
                        <td><a class="btn btn-warning btn-xs"
                               href="{% url 'tale_details' tale.slug %}">{% trans 'Details' %}</a></td>
                        <td><a class="btn btn-danger btn-xs"
                               href="{% url 'tale_delete' tale.id %}">{% trans 'Delete' %}</a></td>
                    </tr>
                {% endfor %}
            </table>
            <p><a href="{% url 'tale_add' %}"
                  class="btn btn-success">{% trans 'Create New Tale' %}</a></p>
        </div>
    </div>
{% endblock %}