{% extends "base-navbar.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% block title %}{% trans 'Write Tale Part' %}{% endblock %}
{% block body %}
    <script type="text/javascript">
        var ckeditor_talelogic_variable_list = [
            [ 'Select a variable...', '-1' ],
            {% for tale_variable in tale.variables.all %}
                [ '{{ tale_variable.name }}', '{{ tale_variable.id }}' ],
            {% endfor %}
        ];
    </script>
    {{ tale_add_part_form.media }}
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-12">
            <h2>{% trans 'Create Tale Part' %}</h2>
            {{ tale_add_part_form.non_field_errors }}
            <form action="{% url 'tale_add_part' %}" role="form" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_name">{{ tale_add_part_form.tale.label }}
                        <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip"
                              title="{{ tale_add_part_form.tale.help_text }}"></span>
                    </label>
                    {% render_field tale_add_part_form.tale class="form-control" %}
                    <span class="help-block">{{ tale_add_part_form.tale.errors }}</span>
                </div>
                <div class="form-group">
                    <label for="id_name">{{ tale_add_part_form.name.label }}
                        <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip"
                              title="{{ tale_add_part_form.name.help_text }}"></span>
                    </label>
                    {% render_field tale_add_part_form.name class="form-control" %}
                    <span class="help-block">{{ tale_add_part_form.name.errors }}</span>
                </div>
                <div class="form-group">
                    <label for="id_content">{{ tale_add_part_form.content.label }}
                        <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip"
                              title="{{ tale_add_part_form.content.help_text }}"></span>
                    </label>
                    {{ tale_add_part_form.content }}
                    <span class="help-block">{{ tale_add_part_form.content.errors }}</span>
                </div>
                <div class="form-group">
                    <label for="id_content">{{ tale_add_part_form.poll_end_date.label }}
                        <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip"
                              title="{{ tale_add_part_form.poll_end_date.help_text }}"></span>
                    </label>
                    {% render_field tale_add_part_form.poll_end_date class="form-control" %}
                    <span class="help-block">{{ tale_add_part_form.poll_end_date.errors }}</span>
                </div>
                <div class="checkbox">
                    <label>
                        {% render_field tale_add_part_form.is_active %} {{ tale_add_part_form.is_active.label }}
                        <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip"
                              title="{{ tale_add_part_form.is_active.help_text }}"></span>
                    </label>
                    <span class="help-block">{{ tale_add_part_form.is_active.errors }}</span>
                </div>
                <button type="submit" class="btn btn-success">{% trans 'Create Tale Part' %}</button>
            </form>
            {% if tale_part_list %}
                <h3>{% trans 'Tale Graph' %}</h3>
                <div id="canvas"></div>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block scriptblock %}
    {% if tale_part_list %}
        {% include "tale_tree.html" %}
    {% endif %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(':disabled').each(
                    function () {
                        $(this).after('<input type="hidden" name="' + $(this).attr('name') + '" value="' + $(this).val() + '" />');
                    }
            );
            {% include 'Teller/snippets/form_js.html' %}
        });
    </script>
{% endblock %}