{% extends "base-navbar.html" %}
{% load i18n %}
{% block title %}{{ tale.name }}{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h2>{{ tale.name }} <a href="{% url 'tale_read_continue' tale.slug %}"
                                   class="btn btn-primary btn-xs">{% trans 'Read' %}</a></h2>

            <p></p>

            <h3>{% trans 'Tale Parts' %}</h3>
            <table class="table table-striped">
                <tr>
                    <th>{% trans 'Part Name' %}</th>
                    <th>{% trans 'Is Start?' %}</th>
                    <th>{% trans 'Is Enabled?' %}</th>
                    <th>{% trans 'Edit' %}</th>
                    <th>{% trans 'Delete' %}</th>
                </tr>
                {% for tale_part in tale_part_list %}
                    <tr>
                        <td>{{ tale_part.name }}</td>
                        <td>{{ tale_part.is_start }}</td>
                        <td>{{ tale_part.is_active }}</td>
                        <td><a class="btn btn-warning btn-xs"
                               href="{% url 'tale_edit_part' tale_part.id %}">{% trans 'Edit' %}</a></td>
                        <td>
                            <a class=" btn btn-danger btn-xs
                            {% if tale_part.is_start %}
                            disabled
                            {% endif %}
                            " href="{% url 'tale_delete_part' tale_part.id %}">{% trans 'Delete' %}</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <p><a href="{% url 'tale_add_part_idgiven' tale.slug %}"
                  class="btn btn-success">{% trans 'Add New Part' %}</a></p>

            <h3>{% trans 'Tale Links' %}</h3>
            <table class="table table-striped">
                <tr>
                    <th>{% trans 'Link Action' %}</th>
                    <th>{% trans 'Source' %}</th>
                    <th>{% trans 'Destination' %}</th>
                    <th>{% trans 'Edit' %}</th>
                    <th>{% trans 'Delete' %}</th>
                </tr>
                {% for tale_link in tale_link_list %}
                    <tr>
                        <td>{{ tale_link.action }}</td>
                        <td>{{ tale_link.source.name }}</td>
                        <td>{{ tale_link.destination.name }}</td>
                        <td><a class="btn btn-warning btn-xs"
                               href="{% url 'tale_edit_link' tale_link.id %}">{% trans 'Edit' %}</a></td>
                        <td><a class="btn btn-danger btn-xs"
                               href="{% url 'tale_delete_link' tale_link.id %}">{% trans 'Delete' %}</a></td>
                    </tr>
                {% endfor %}
            </table>
            <p><a href="{% url 'tale_add_link' tale.slug %}"
                  class="btn btn-success">{% trans 'Add New Link' %}</a></p>

            <h3>{% trans 'Tale Graph' %}</h3>

            <div id="canvas"></div>
        </div>
    </div>
{% endblock %}
{% block scriptblock %}
    {% include "tale_tree.html" %}
{% endblock %}