{% extends "base-navbar.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans 'An error occured' %}{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h2>{% trans 'Test' %}</h2>

            <div id="canvas"></div>
        </div>
    </div>
{% endblock %}
{% block scriptblock %}
    <script src="{% static 'dracula-graph/js/raphael-min.js' %}"></script>
    <script src="{% static 'dracula-graph/js/dracula_graffle.js' %}"></script>
    <script src="{% static 'dracula-graph/js/dracula_graph.js' %}"></script>
    <script src="{% static 'dracula-graph/js/dracula_algorithms.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var canvas = $('#canvas');
            var width = canvas.width();
            var height = 500;
            var g = new Graph();
            var st = {
                "font-size": 8
            };
            g.edgeFactory.template.style.directed = true;
            g.addNode("Introduction");
            g.addNode("Revenge of little red riding hood");
            g.addNode("Try hard times");
            g.addNode("Wasteful death");
            g.addNode("Woodsman's death");
            g.addNode("Little red riding hood's death");
            g.addEdge("Introduction", "Try hard times", {label: "Go to granny's house", "label-style": st});
            g.addEdge("Try hard times", "Revenge of little red riding hood", {label: "Keep your kalm", "label-style": st});
            g.addEdge("Try hard times", "Wasteful death", {label: "Try attacking the wolf", "label-style": st});
            g.addEdge("Revenge of little red riding hood", "Wasteful death", {label: "Attack the wolf with woodsman", "label-style": st});
            g.addEdge("Revenge of little red riding hood", "Little red riding hood's death", {label: "Attack the woodsman and reason with wolf", "label-style": st});
            g.edges[0].onmousemove(function () {

            });
            var layouter = new Graph.Layout.Ordered(g, topological_sort(g));
            var renderer = new Graph.Renderer.Raphael('canvas', g, width, height);
        });
    </script>
{% endblock %}