{% extends "base-navbar.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% load teller_tags %}
{% load staticfiles %}
{% block title %}{% trans 'Search User' %}{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h2>{% trans 'Search User' %}</h2>
            {{ user_list_form.non_field_errors }}
            <form action="{% url 'user_list' %}" role="form" method="get" class="form-inline">
                <div class="form-group">
                    {% render_field user_list_form.username class="form-control" placeholder=user_list_form.username.label %}
                </div>
                <button type="submit" class="btn btn-success">{% trans 'Search' %}</button>
            </form>
            <br/>
            <table class="table table-striped">
                <tr>
                    <th>{% trans 'Username' %}</th>
                    <th>{% trans 'Follow' %}</th>
                    <th>{% trans 'Profile' %}</th>
                </tr>
                {% for profile_row in users_in_page %}
                    <tr>
                        <td>{{ profile_row.user.username }}</td>
                        <td>
                            {{ profile|print_follow_button:profile_row|safe }}
                        </td>
                        <td><a class="btn btn-primary btn-xs"
                               href="{% url 'user_profile' profile_row.slug %}">{% trans 'Profile' %}</a></td>
                    </tr>
                {% endfor %}
            </table>
            <div class="bs-component">
                <ul class="pager">
                    {% if users_in_page.has_previous %}
                        <li class="previous"><a
                                href="{% url 'user_list' %}?username={{ username }}&page={{ users_in_page.previous_page_number }}">← {% trans 'Previous' %}</a>
                        </li>
                    {% endif %}
                    {% if users_in_page.has_next %}
                        <li class="next"><a
                                href="{% url 'user_list' %}?username={{ username }}&page={{ users_in_page.next_page_number }}">{% trans 'Next' %}
                            →</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block scriptblock %}
{% endblock %}