body {
    padding-top: 54px;
}

#canvas {
    background-color: #f9f9f9;
    overflow: scroll;
    height: 500px;
}

#canvas .marker-arrowheads {
    display: none
}

#canvas .link-tools .tool-remove {
    display: none
}

#canvas-fluid {
    background-color: #f9f9f9;
    overflow: scroll;
    height: 100%;
}

.tale-action-button {
    height: 30px;
}

.slight-border {
    border: 1px solid #CCCCCC;
}

#inspector-result {
    color: #ff2341;
}

@media (max-width: 767px) {
    .affix, .affix-top {
        position: relative;
    }
}

@media (min-width: 767px) {
    .affix, .affix-top {
        width: 16%;
    }
}

.navbar-form .form-control {
    width: 86px;
}

.navbar-form img.captcha {
    max-height: 36px;
}

.btn-facebook {
    padding: 6px 8px 6px;
    background-color: #3b5998;
    border-color: #273f6f;
}

.btn-facebook img {
    width: 19px;
}

.btn-google {
    padding: 6px 8px 6px;
    background-color: #F44336;
    border-color: #D32F2F;
}

.btn-google img {
    width: 19px;
}

.btn-pinterest {
    padding: 6px 8px 6px;
    background-color: #bd081c;
    border-color: #85000f;
}

.btn-pinterest img {
    width: 19px;
}

.btn-twitter {
    padding: 6px 8px 6px;
    background-color: #55acee;
    border-color: #3d80bd;
}

.btn-twitter img {
    width: 19px;
}

.btn-logoandtext {
    padding: 8px 8px 4px;
    color: #ffffff;
}

.btn-logoandtext:link,
.btn-logoandtext:visited,
.btn-logoandtext:hover,
.btn-logoandtext:active {
    color: #ffffff;
}

.rate-buttons-container {
    margin-bottom: 10px;
}

tr.danger>td {
    background-color: #FFE2E0 !important;
    color: #D07D7D;
}

tr.success>td {
    background-color: #E4F7E5 !important;
    color: #4DA058;
}

#tale-table-parts th, #tale-table-links th {
    cursor: pointer;
}

th.headerSortDown {
    background: rgb(232, 232, 232) url('/static/Teller/img/down-arrow-triangle.png') no-repeat right 10px center;
}

th.headerSortUp {
    background: rgb(232, 232, 232) url('/static/Teller/img/up-arrow-triangle.png') no-repeat right 10px center;
}

.comment-username {
    font-weight: bold;
}